# Dependency directories
node_modules/

# Build 
build

# Miscellaneous files
Dockerfie
.dockerignore
.git
.gitignore
.vscode
.env.prod
.env.dev
.nvmrc
.prettierrc.yaml
cspell.config.yaml
fly.toml


# Logs
logs
*.log
pnpm-debug.log*
